<center><h3>Silver Shell Outside</h3></center>
<table id="Table_01" width="648" height="487" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td colspan="26">
			<img src="assets/Zone5/images/index_01.gif" width="648" height="105" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5">
			<img src="assets/Zone5/images/index_02.gif" width="48" height="118" alt=""></td>
		<td colspan="2" rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5_index_03'])"><img src="assets/Zone5/images/Zone5_index_03_green.jpg" id="Zone5_index_03" class="green ui-draggable" width="57" height="47" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="3" rowspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04.gif" width="40" height="55" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_05'])">
				<img src="assets/Zone5/images/Zone5-1_05_green.jpg" id="Zone5-1_05" class="green ui-draggable" width="65" height="47" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-07.gif" width="32" height="47" border="0" alt=""></a></td>
		<td colspan="2" rowspan="3">
			<a onclick="change_image('assets/Zone5',['Zone5-1_07'])">
				<img src="assets/Zone5/images/Zone5-1_07_green.jpg" width="59" id="Zone5-1_07" class="green ui-draggable" height="55" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-09.gif" width="57" height="47" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_09'])">
				<img src="assets/Zone5/images/Zone5-1_09_green.jpg" class="green ui-draggable" id="Zone5-1_09" width="55" height="47" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-11.gif" width="68" height="47" border="0" alt=""></a></td>
		<td colspan="6">
			<a onclick="change_image('assets/Zone5',['Zone5-1_11'])">
				<img src="assets/Zone5/images/Zone5-1_11_green.jpg" id="Zone5-1_11" class="green ui-draggable" width="115" height="37" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-13.gif" width="52" height="47" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="6">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-14.gif" width="115" height="10" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="assets/Zone5/images/index_14.gif" width="57" height="8" alt=""></td>
		<td rowspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-16.gif" width="36" height="71" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_11-17'])">
				<img src="assets/Zone5/images/Zone5-1_11-17_green.jpg" id="Zone5-1_11-17" class="green ui-draggable" width="61" height="52" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_12'])">
				<img src="assets/Zone5/images/Zone5-1_12_green.jpg" id="Zone5-1_12" class="green ui-draggable" width="57" height="52" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="2" rowspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-19.gif" width="55" height="71" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_16'])">
				<img src="assets/Zone5/images/Zone5-1_16_green.jpg" id="Zone5-1_16" class="green ui-draggable" width="60" height="52" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="3" rowspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-21.gif" width="28" height="71" border="0" alt=""></a></td>
		<td rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_21'])">
				<img src="assets/Zone5/images/Zone5-1_21_green.jpg" id="Zone5-1_21" class="green ui-draggable" width="52" height="52" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-23.gif" width="14" height="71" border="0" alt=""></a></td>
		<td colspan="3" rowspan="2">
			<a onclick="change_image('assets/Zone5',['Zone5-1_23'])">
				<img src="assets/Zone5/images/Zone5-1_23_green.jpg" id="Zone5-1_23" class="green ui-draggable" width="53" height="52" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="3">
			<a onclick="change_image('assets/Zone5',['Zone5-1_04-25'])">
				<img src="assets/Zone5/images/Zone5-1_04-25.gif" width="28" height="71" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="assets/Zone5/images/index_25.gif" width="21" height="63" alt=""></td>
		<td colspan="3">
			<a onclick="change_image('assets/Zone5',['Zone5-1_07-27'])">
				<img src="assets/Zone5/images/Zone5-1_07-27_green.jpg" id="Zone5-1_07-27" class="green ui-draggable" width="61" height="44" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-28.gif" width="15" height="63" border="0" alt=""></a></td>
		<td colspan="2" rowspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-29.gif" width="59" height="63" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td>
			<img src="assets/Zone5/images/index_29.gif" width="36" height="19" alt=""></td>
		<td colspan="2">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-31.gif" width="25" height="19" border="0" alt=""></a></td>
		<td colspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-32.gif" width="61" height="19" border="0" alt=""></a></td>
		<td>
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-33.gif" width="57" height="19" border="0" alt=""></a></td>
		<td>
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-34.gif" width="60" height="19" border="0" alt=""></a></td>
		<td></td>
		<td colspan="3">
			<a>
				<img src="assets/Zone5/images/Zone5-1_04-36.gif" width="53" height="19" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="assets/Zone5/images/index_36.gif" width="33" height="263" alt=""></td>
		<td colspan="4">
			<a onclick="change_image('assets/Zone5',['Zone5-1_03'])">
				<img src="assets/Zone5/images/Zone5-1_03_green.jpg" id="Zone5-1_03" class="green ui-draggable" width="87" height="46" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="4"><a onclick="change_image('assets/Zone5',['Zone5-1_04-39'])">
			<img src="assets/Zone5/images/Zone5-1_04-39_green.jpg" id="Zone5-1_04-39" class="green ui-draggable" width="82" height="46" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="3">
			<a onclick="change_image('assets/Zone5',['Zone5_1_05'])">
				<img src="assets/Zone5/images/Zone5_1_05_green.jpg" id="Zone5_1_05" class="green ui-draggable" width="91" height="46" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="3">
			<a onclick="change_image('assets/Zone5',['Zone5-1_06'])">
				<img src="assets/Zone5/images/Zone5-1_06_green.jpg" id="Zone5-1_06" class="green ui-draggable" width="100" height="46" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="4">
			<a onclick="change_image('assets/Zone5',['Zone5-1_07-42'])">
				<img src="assets/Zone5/images/Zone5-1_07-42_green.jpg" id="Zone5-1_07-42" class="green ui-draggable" width="96" height="46" border="0" alt="" style="position: relative; z-index: 1;"></a></td>
		<td colspan="4">
			<a onclick="change_image('assets/Zone5',['Zone5-1_08'])">
				<img src="assets/Zone5/images/Zone5-1_08_green.jpg" id="Zone5-1_08" class="green" width="97" height="46" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="3" rowspan="2">
			<img src="assets/Zone5/images/index_43.gif" width="62" height="263" alt=""></td>
	</tr>
	<tr>
		<td colspan="22"></td>
	</tr>
	<tr>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="36" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="36" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="21" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="32" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="51" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="57" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="24" height="1" alt=""></td>
		<td>
			<img src="assets/Zone5/images/spacer.gif" width="28" height="1" alt=""></td>
	</tr>
	<tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"></div><div id="table_merge" style="width:156px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30" style="text-align:center"><button type="button" onclick="save_body('5')" class="btn btn-primary">Save Zone</button></td></tr>
</tbody></table>