<center><h3>Casserole Outside</h3></center>
<table id="Table_01" width="649" height="437" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td colspan="20">
			<img src="assets/Zone2/images/index_01.gif" width="648" height="19" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" rowspan="2"></td>
		<td colspan="3" rowspan="3">
			<a onclick="change_image('assets/Zone2',['Zone2-2_03'])">
				<img src="assets/Zone2/images/Zone2-2_03_green.jpg" id="Zone2-2_03" class="green" width="106" height="81" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="11">
			<img src="assets/Zone2/images/index_04.gif" width="336" height="21" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<a onclick="change_image('assets/Zone2',['Zone2-2_05'])">
				<img src="assets/Zone2/images/Zone2-2_05_green.jpg" id="Zone2-2_05" class="green" width="77" height="76" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="8">
			<img src="assets/Zone2/images/index_06.gif" width="259" height="39" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="7"></td>
		<td colspan="2" rowspan="5">
			<a onclick="change_image('assets/Zone2',['Zone2-2_03-09'])">
				<img src="assets/Zone2/images/Zone2-2_03-09_green.jpg" id="Zone2-2_03-09" class="green" width="94" height="73" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td rowspan="3"></td>
		<td colspan="3" rowspan="3">
			<a onclick="change_image('assets/Zone2',['Zone2-2_10'])">
				<img src="assets/Zone2/images/Zone2-2_10_green.jpg" id="Zone2-2_10" class="green" width="79" height="45" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="5" rowspan="3">
			<img src="assets/Zone2/images/index_11.gif" width="180" height="45" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="21" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="assets/Zone2/images/index_12.gif" width="106" height="24" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="assets/Zone2/images/index_13.gif" width="77" height="25" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="6">
			<a onclick="change_image('assets/Zone2',['Zone2-2_05-15'])">
				<img src="assets/Zone2/images/Zone2-2_05-15_green.jpg" class="green" id="Zone2-2_05-15" width="63" height="78" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="2">
			<img src="assets/Zone2/images/index_15.gif" width="54" height="17" alt=""></td>
		<td colspan="2" rowspan="3"></td>
		<td colspan="3" rowspan="6">
			<a onclick="change_image('assets/Zone2',['Zone2-2_17'])">
				<img src="assets/Zone2/images/Zone2-2_17_green.jpg" id="Zone2-2_17" class="green" width="77" height="78" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="3" rowspan="4"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2"></td>
		<td colspan="2" rowspan="2"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="11" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="3"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick="change_image('assets/Zone2',['Zone2-2_07-23','Zone2-2_07'])">
				<img src="assets/Zone2/images/Zone2-2_07-23_green.jpg" class="green" id="Zone2-2_07-23" width="54" height="57" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="3" rowspan="5">
			<a onclick="change_image('assets/Zone2',['Zone2-2_11'])">
				<img src="assets/Zone2/images/Zone2-2_11_green.jpg" width="77" id="Zone2-2_11" class="green" height="74" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="2" rowspan="2"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="10" alt=""></td>
	</tr>
	<tr>
		<td rowspan="15">
			<img src="assets/Zone2/images/index_25.gif" width="19" height="262" alt=""></td>
		<td rowspan="4">
			<a onclick="change_image('assets/Zone2',['Zone2-2_03-27'])">
				<img src="assets/Zone2/images/Zone2-2_03-27_green.jpg" id="Zone2-2_03-27" class="green" width="60" height="64" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/index_27.gif" width="22" height="15" alt=""></td>
		<td colspan="2" rowspan="6">
			<a onclick="change_image('assets/Zone2',['Zone2-2_28'])">
				<img src="assets/Zone2/images/Zone2-2_28_green.jpg" id="Zone2-2_28" class="green" width="87" height="94" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td rowspan="15">
			<img src="assets/Zone2/images/index_29.gif" width="25" height="262" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick="change_image('assets/Zone2',['Zone2-2_05-31'])">
				<img src="assets/Zone2/images/Zone2-2_05-31_green.jpg" id="Zone2-2_05-31" class="green" width="62" height="62" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/index_31.gif" width="54" height="13" alt=""></td>
		<td colspan="2" rowspan="3">
			<a onclick="change_image('assets/Zone2',['Zone2-2_18'])">
				<img src="assets/Zone2/images/Zone2-2_18_green.jpg" class="green" id="Zone2-2_18" width="70" height="49" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<a onclick="change_image('assets/Zone2',['Zone2-2_07-34'])">
				<img src="assets/Zone2/images/Zone2-2_07-34_green.jpg" class="green" id="Zone2-2_07-34" width="65" height="66" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td></td>
		<td colspan="3" rowspan="2"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="5">
			<a onclick="change_image('assets/Zone2',['Zone2-2_09'])">
				<img src="assets/Zone2/images/Zone2-2_09_green.jpg" id="Zone2-2_09" class="green" width="64" height="69" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="11">
			<img src="assets/Zone2/images/index_38.gif" width="60" height="198" alt=""></td>
		<td colspan="3"></td>
		<td rowspan="2"></td>
		<td colspan="4" rowspan="6">
			<a onclick="change_image('assets/Zone2',['Zone2-2_27'])">
				<img src="assets/Zone2/images/Zone2-2_27_green.jpg" class="green" id="Zone2-2_27" width="88" height="79" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="10">
			<img src="assets/Zone2/images/index_42.gif" width="62" height="185" alt=""></td>
		<td colspan="3" rowspan="5">
			<a onclick="change_image('assets/Zone2',['Zone-2_13'])">
				<img src="assets/Zone2/images/Zone-2_13_green.jpg" id="Zone-2_13" class="green" width="63" height="66" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="9">
			<img src="assets/Zone2/images/index_45.gif" width="65" height="168" alt=""></td>
		<td rowspan="3"></td>
		<td rowspan="4"></td>
		<td rowspan="9">
			<img src="assets/Zone2/images/index_48.gif" width="78" height="168" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td rowspan="5">
			<a onclick="change_image('assets/Zone2',['Zone2_2_16'])">
				<img src="assets/Zone2/images/Zone2_2_16_green.jpg" id="Zone2_2_16" class="green" width="56" height="71" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7">
			<img src="assets/Zone2/images/index_50.gif" width="64" height="146" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<a onclick="change_image('assets/Zone2',['Zone2-2_19'])">
				<img src="assets/Zone2/images/Zone2-2_19_green.jpg" class="green" id="Zone2-2_19" width="59" height="72" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="14" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="5">
			<img src="assets/Zone2/images/index_52.gif" width="63" height="119" alt=""></td>
		<td colspan="5">
			<img src="assets/Zone2/images/index_53.gif" width="97" height="13" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="3">
			<a onclick="change_image('assets/Zone2',['Zone2-2_22'])">
				<img src="assets/Zone2/images/Zone2-2_22_green.jpg" class="green" id="Zone2-2_22" width="62" height="82" border="0" alt="" style="position: relative; z-index: 11;"></a></td>
		<td colspan="2" rowspan="4">
			<img src="assets/Zone2/images/index_55.gif" width="35" height="106" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="17" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="assets/Zone2/images/index_56.png" width="56" height="89" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="28" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="assets/Zone2/images/index_57.gif" width="59" height="61" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="3">
			<img src="assets/Zone2/images/index_58.gif" width="62" height="24" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="1" height="24" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="19" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="60" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="22" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="40" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="54" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="42" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="13" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="56" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="59" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="42" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="9" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="78" height="1" alt=""></td>
		<td>
			<img src="assets/Zone2/images/spacer.gif" width="25" height="1" alt=""></td>
		<td></td>
	</tr>
	<tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"></div><div id="table_merge" style="width:156px;height:68px"></div></td></tr>
	<tr><td colspan="30" style="text-align:center"><button type="button" onclick="save_body('2')" class="btn btn-primary">Save Zone</button></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
</tbody></table>