<center><h3>Casserole</h3></center>
<table id="Table_01" width="647" height="684" border="0" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td colspan="21">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_01.gif" width="646" height="38" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="7">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_02.jpg" width="63" height="151" alt=""></td>
		<td colspan="5" rowspan="5">
			<a onclick="change_image('assets/Zone1',['Untitled-5_03'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_03_green.jpg" id="Untitled-5_03" class="green" width="117" height="113" border="0" alt=""></a></td>
		<td colspan="14">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_04.gif" width="466" height="45" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="45" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_05.gif" width="15" height="68" alt=""></td>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_03-07'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_03-07_green.jpg" class="green" id="Untitled-5_03-07" width="69" height="68" border="0" alt=""></a></td>
		<td colspan="10">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_07.gif" width="382" height="16" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_08.gif" width="1" height="4" alt=""></td>
		<td colspan="9">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_09.gif" width="381" height="4" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="4" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="3">
			<a onclick="change_image('assets/Zone1',['Untitled-5_07'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_07_green.jpg" width="65" id="Untitled-5_07" class="green" height="73" border="0" alt=""></a></td>
		<td colspan="5">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_11.gif" width="317" height="19" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_09'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_09_green.jpg" width="61" id="Untitled-5_09" height="76" class="green" border="0" alt=""></a></td>
		<td colspan="4">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_13.gif" width="256" height="29" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="29" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_14.jpg" width="82" height="38" alt=""></td>
		<td colspan="4" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_03-16'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_03-16_green.jpg" id="Untitled-5_03-16" class="green" width="86" height="72" border="0" alt=""></a></td>
		<td></td>
		<td colspan="2" rowspan="3">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_17.gif" width="67" height="47" alt=""></td>
		<td rowspan="6">
			<a onclick="change_image('assets/Zone1',['Untitled-5_15'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_15_green.jpg" id="Untitled-5_15" class="green" width="111" height="112" border="0" alt=""></a></td>
		<td rowspan="17">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_19.gif" width="78" height="532" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_11'])">
				<img id="Untitled-5_11" src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_11_green.jpg" class="green" width="86" height="74" border="0" alt=""></a></td>
		<td rowspan="2"></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="15">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_22.gif" width="26" height="494" alt=""></td>
		<td colspan="4" rowspan="5">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_23_green.jpg" onclick="change_image('assets/Zone1',['index_23'])" id="index_23" width="90" class="green" height="86" alt="">
	    </td>
		<td rowspan="3">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_24.gif" width="29" height="61" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_13'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_13_green.jpg" id="Untitled-5_13" class="green" width="88" height="77" border="0" alt=""></a></td>
		<td rowspan="14">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_26.gif" width="52" height="485" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_27.gif" width="86" height="27" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="27" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_29'])">
				<img id="Untitled-5_29" class="green" src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_29_green.jpg" width="79" height="86" border="0" alt=""></a></td>
		<td colspan="7" rowspan="3"></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="13" alt=""></td>
	</tr>
	<tr>
		<td rowspan="11">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_30.gif" width="111" height="420" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_31.jpg" width="82" height="61" alt=""></td>
		<td rowspan="2">
			</td>
		<td colspan="3"></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="30" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_34.gif" width="25" height="50" alt=""></td>
		<td colspan="3" rowspan="2">
			<a onclick="change_image('assets/Zone1',['Untitled-5_35'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_35_green.jpg" id="Untitled-5_35" class="green" width="45" height="50" border="0" alt=""></a></td>
		<td rowspan="3"></td>
		<td colspan="4" rowspan="3">
			<a onclick="change_image('assets/Zone1',['Untitled-5_37'])">
				<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/Untitled-5_37_green.jpg" id="Untitled-5_37" width="115" class="green" height="76" border="0" alt=""></a></td>
		<td rowspan="9">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_38.gif" width="15" height="378" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="31" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="8">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_39.gif" width="47" height="347" alt=""></td>
		<td colspan="2" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_38'])">
				<img src="assets/Zone1/images/Untitled-5_38_green.jpg" width="43" id="Untitled-5_38" class="green" height="83" border="0" alt=""></a></td>
		<td colspan="3">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_41.gif" width="79" height="19" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td colspan="4" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_40'])">
				<img src="assets/Zone1/images/Untitled-5_40_green.jpg" width="104" id="Untitled-5_40" class="green" height="102" border="0" alt=""></a></td>
		<td colspan="3">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_43.gif" width="45" height="26" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="5" rowspan="4">
			<a onclick="change_image('assets/Zone1',['Untitled-5_44'])">
				<img src="assets/Zone1/images/Untitled-5_44_green.jpg" id="Untitled-5_44" class="green" width="83" height="91" border="0" alt=""></a></td>
		<td colspan="3">
	</td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="5">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_46.gif" width="87" height="276" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="12" alt=""></td>
	</tr>
	<tr>
		<td colspan="2" rowspan="4">
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/index_47.gif" width="43" height="264" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="38" alt=""></td>
	</tr>
	<tr>
		<td colspan="4"></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="15" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2"></td>
		<td colspan="6">
			<a onclick="change_image('assets/Zone1',['Untitled-5_39'])">
				<img src="assets/Zone1/images/Untitled-5_39_green.jpg" id="Untitled-5_39" class="green" width="108" height="103" border="0" alt=""></a></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="103" alt=""></td>
	</tr>
	<tr>
		<td colspan="6"></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="108" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="26" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="37" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="8" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="29" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="35" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="11" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="33" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="10" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="28" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="14" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="12" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="61" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="15" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="52" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="111" height="1" alt=""></td>
		<td>
			<img src="http://10.29.221.203/etherustqm/etherus_zone_laravel/public/assets/Zone1/images/spacer.gif" width="78" height="1" alt=""></td>
	</tr>
	<tr><td colspan="30"><div id="new_table" style="width:78px;height:68px"></div><div id="table_merge" style="width:156px;height:68px"></div></td></tr>
	<tr><td colspan="30"><img src="assets/images/Legends.jpg"></td></tr>
	<tr><td colspan="30" style="text-align:center"><button type="button" onclick="save_body('1')" class="btn btn-primary">Save Zone</button></td></tr>
	
</tbody></table>